body {
     background-color:   #e27c3e;
     color: whitesmoke;

}

.modak {
  font-family:   'Modak', cursive;
  font-size: 100px;
}

h1{font-size: 100px;}


#blocOne {
    color: whitesmoke;
    width: 100%;
   
}

.illustration {
    width: 40%;
    height: auto;
}

.playerOne {
    width: 40%;
    height: auto;
}

.playerTwo {
    width: 40%;
    height: auto;
}

.troisIllustration {
    margin-bottom: 70px
}

.containerFooter {
     background-color: #fbdba8;
     position: absolute;
     bottom: 0;
     padding: 30px;
     font-size: 20px;
     font-weight: bold;
}

.color {
    color: #e27c3e;
}

.test{flex-direction: column;

}

/*@media screen and (max-width: 800px)
{*/

    @media screen and (min-width: 780px) and (max-width: 979px){


     .troisIllustration {  
       
        width: 110%;
        height: auto;
        margin-top: 10px;
    }

    .player {
        max-height: auto;
        width: 250%;
        height: auto;
        margin-top: 10px;
        
    }

    .containerFooter {
        max-height: auto;
        font-size: 20px;
        width: 100%;
        padding-top: 5px;
    }
 

}


