.imgAccueil {
    background-image: url("../images/acceuil.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 400px ;
    margin-top: 20px;
    
}

body {
    background-color: #e27c3e;

}

.modak {
    font-family:  'Modak', cursive;
    font-size: 80px;
  }

  @media screen and (min-width: 780px) and (max-width: 979px){}